@import url("/blocks/rotation/rotation.css");

/*Not sure why the import of rotation.css is not working. In the meantime copying @keyframe from rotation.css */

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*above keyframe should be imported from rotation.css*/

.header__square-pic {
    display: flex;
    position: absolute;
    right: 0;
    top: 64px;
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    z-index: 0;
    /* this box needs to go behind the image */
    transform: rotate(-15deg);
    overflow: hidden;
    animation: rotation 20s linear normal infinite running;
}