.kaufman__triangle {
    display: flex;
    position: absolute;
    top: 0;
    right: -124px;
    z-index: 0;
    height: 660px;
    width: 636px;
    transform: rotate(-15deg);
    overflow: hidden;
}