.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* parameters for the header section */
}

.logo_placeheader {
    display: flexbox;
    position: absolute;
    z-index: 1;
    /*stay in front*/
    top: 30px;
    left: 64px;
    width: 154px;
    height: 31px;
}

.header__title {
    display: flexbox;
    position: absolute;
    left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
    align-self: center;
    z-index: 1;
    /*stay in front*/
}

.header__subtitle {
    display: flexbox;
    position: absolute;
    width: 388px;
    bottom: 30px;
    left: 64px;
    z-index: 1;
    /*stay in front*/
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__main-illustration {
    display: flexbox;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 608px;
    width: 756px;
}

.header__square-pic {
    display: flexbox;
    position: absolute;
    right: 0;
    top: 64px;
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    z-index: -1;
    /* this box needs to go behind the image */
}


/*End of Header classes */

.content {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 100px 0;
    align-items: space-between;
}


/*Start of Description (two-column) classes */

.description {
    display: flexbox;
    margin: 100px 0;
    min-width: 1100px;
}

.two-columns {
    min-height: 476px;
    /*allow 14 lines of 34px height */
    display: flex;
    justify-self: center;
    justify-items: space-between;
}

.two-columns__brief {
    display: inline-flexbox;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
}

.two-columns__main-text {
    display: inline-flexbox;
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph {
    display: flexbox;
    font-weight: normal;
}

.two-columns__span-accent {
    font-weight: bold;
}


/*End of Description (two-column) classes */


/*Start of Digits classes */

.digits {
    display: flexbox;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.section-title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
}

.section-subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: auto;
    margin-top: 20px;
}

.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
    margin: 60px auto 100px;
}

.table__cell {
    display: inline-flexbox;
    width: 250px
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}


/* including elements with key-value modifiers */

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}