.khan__book-pic {
    object-fit: cover;
    /*maintain aspect ratio and crop image to fit in box */
    object-position: top;
    /*Align the image to the top of the box */
    width: 608px;
    height: 620px;
    margin-top: 68px;
    margin-right: 48px;
    display: inline-block;
    overflow: hidden;
}